[MCU.esp32]
BOARD = "Waveshare-ESP32-S3-Touch-4.3"
BOARD_VARIANT = "SPIRAM_OCT"
flash_size = 16
enable_jtag_repl = 'n'
enable_cdc_repl = 'n'
enable_uart_repl = 'y'
CONFIG_FREERTOS_HZ='y'
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240='y'
CONFIG_ESPTOOLPY_FLASHMODE_QIO='y'
CONFIG_ESPTOOLPY_FLASHFREQ_120M='y'
CONFIG_IDF_EXPERIMENTAL_FEATURES='y'
CONFIG_SPIRAM_SPEED_120M='y'
CONFIG_SPIRAM_FETCH_INSTRUCTIONS='y'
CONFIG_SPIRAM_RODATA='y'
CONFIG_ESP32S3_DATA_CACHE_LINE_64B='y'
CONFIG_COMPILER_OPTIMIZATION_PERF='y'
FROZEN_MANIFEST = "/mnt/c/Users/alex/code/lvgl_alex/lvgl_micropython/display_configs/Waveshare-ESP32-S3-Touch-4.3/manifest.py"
ota = 'True'
debug = 'True'

[SPI.Bus.spi_bus]
id = 2
sck = 12
mosi = 11
miso = 13

[I2C.Bus.i2c_bus]
host = 0
scl = 9
sda = 8
freq = 400000

[I2C.Device.expander]
bus = "i2c_bus"
dev_id = "ch422g.I2C_ADDR"
reg_bits = "ch422g.BITS"

[I2C.Device.indev_device]
bus = "i2c_bus"
dev_id = "gt911.I2C_ADDR"
reg_bits = "gt911.BITS"

["ch422g.Pin.set_device"]
params = ["expander"]

[ch422g.Pin.bckl_pin]
id = "ch422g.EXIO2"
mode = "ch422g.Pin.OUT"
value = 1

[ch422g.Pin.rst_pin]
id = "ch422g.EXIO1"
mode = "ch422g.Pin.OUT"
value = 0

[ch422g.Pin.sd_cs_pin]
id = "ch422g.EXIO4"
mode = "ch422g.Pin.OUT"
value = 0

[machine.Pin.ctp_irq]
Pin = 4
mode = "machine.Pin.OUT"
value = 0

[RGBBus.display_bus]
data0 = 14
data1 = 38
data2 = 18
data3 = 17
data4 = 10
data5 = 39
data6 = 0
data7 = 45
data8 = 48
data9 = 47
data10 = 21
data11 = 1
data12 = 2
data13 = 42
data14 = 41
data15 = 40
hsync = 46
vsync = 3
de = 5
pclk = 7
disp = "bckl_pin"
freq = 12000000
hsync_front_porch = 8
hsync_back_porch = 8
hsync_pulse_width = 4
hsync_idle_low = true
vsync_front_porch = 8
vsync_back_porch = 8
vsync_pulse_width = 4
vsync_idle_low = false
de_idle_high = false
pclk_idle_high = false
pclk_active_low = true

[display_bus.allocate_framebuffer._BUF1]
size = 76800
caps = "lcd_bus.MEMORY_SPIRAM"

[display_bus.allocate_framebuffer._BUF2]
size = 76800
caps = "lcd_bus.MEMORY_SPIRAM"

[RGBDisplay.display]
data_bus = "display_bus"
display_width = 800
display_height = 480
frame_buffer1 = "_BUF1"
frame_buffer2 = "_BUF2"
backlight_pin = "bckl_pin"
color_space = "lv.COLOR_FORMAT.RGB565"


[display.set_power]
params = [true]

[display.init]
params = []



[gt911.GT911.touch]
device = "indev_device"


[fw_config]
value = 'touch.firmware_config'

["fw_config.width"]
value = "_DISPLAY_WIDTH"

["fw_config.height"]
value = "_DISPLAY_HEIGHT"

["fw_config.save"]
params = []


[display.set_backlight]
params = [100]


[task_handler.TaskHandler]
params = []


